<%- include("partials/header") %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a id="blogLogo" class="navbar-brand" href="http://localhost:3000/">Blogrealm</a>
</nav>

<div class="container-fluid paddingZero">
	<img src="/images/SMALLS.jpg" height="200" width="100%" />
</div>

<div class="container">
	<div class="container bloggerMerch">
		<h4 id="bloggerMerch">Name of the Blog's Merch</h4>
		<div class="container">
			<h5>Bloggers merch goes here.</h5>
		</div>
	</div>
	<hr>
	<div class="container">
		<h1>Articles go here.</h1>
	</div>
</div>
<%- include("partials/footer") %>
