<%- include("partials/header") %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a id="blogLogo" class="navbar-brand" href="/">Blogrealm</a>
</nav>

<div class="container widthChange marginSpace3">
    <div class="container widthChange marginBottom">
        <h3>Login</h3>
    </div>
    <div class="container">
        <form action="/login" method="POST">
            <div class="row marginBottom">
                <input class="col form-control" type="text" name="username" placeholder="Username" />
            </div>
            <div class="row">
                <input class="col form-control" type="password" name="password" placeholder="Password" />
            </div>
            <hr>
            <div class="row">
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </div>
        </form>
    </div>
</div> 
<%- include("partials/footer") %> 